{% extends "base.html" %}

{% block title %} {{ article.title }} | {{ SITENAME }} {% endblock %}

{% block content %}
    <h1 class="title"> {{ article.title }}</h1>
    <div class='article-date clearfix'> {{ article.locale_date }} </div>
    <br>
    {{ article.content }}
    {#{% include "twitter.html" %}#}
    {% if article.tags %}
    <p class=tags>Tags:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </p>
    {% endif %}
    {% include "youyan.html" %}
    {% include "disqus.html" %}
{% endblock %}
