<footer class='footer'>
<div class="separator"></div>
<div class="container">
    <p>&copy; Copyright 2014 and Themed <a href="https://github.com/rykka/wu">Wu</a> &trade; by <a href="{{ GITHUB_URL }}">{{ AUTHOR }}</a>.
  Powered by <a href="http://pypi.python.org/pypi/pelican/" target="_blank">Pelican</a>.  
  </p> 
  <p>
    <div class=social style="font-size: 27px;">
      <ul>
            <a href="mailto:{{ MAIL_USERNAME }}@{{ MAIL_HOST }}" target="_blank">
            <li><i class="icon-envelope icon-large"></i> </li>
            </a>
        </a>
        <a href="http://twitter.com/{{ TWITTER_USERNAME }}" target="_blank"> <li><i class="icon-twitter-sign icon-large"></i></li></a>
        <a href="{{ GITHUB_URL }}" target="_blank"><li><i class="icon-github-sign icon-large"></i></li></a>

        <a href="{{ SITEURL }}/feeds/all.rss.xml" rel="alternate" title="Recent Blog Posts"><li> <i class="icon-rss icon-large"></i> </li></a>
      </ul>
    </div>
  </p>
</div>
</footer>
