<footer class='footer'>
    <div class="container clearfix">
        <div class="social pull-left">
            <ul>
                <a href="mailto:{{ MAIL_USERNAME }}@{{ MAIL_HOST }}" target="_blank">
                    <li><i class="icon-envelope icon-large"></i> 
                    </li>
                </a>
                </a>
                <a href="http://twitter.com/{{ TWITTER_USERNAME }}" target="_blank">
                    <li><i class="icon-twitter-sign icon-large"></i>
                    </li>
                </a>
                <a href="{{ GITHUB_URL }}" target="_blank">
                    <li><i class="icon-github-sign icon-large"></i>
                    </li>
                </a>

                <a href="{{ SITEURL }}/feeds/all.rss.xml" rel="alternate" title="Recent Blog Posts">
                    <li> <i class="icon-rss icon-large"></i> 
                    </li>
                </a>
            </ul>
        </div>
        <div class="copyright pull-right">
            &copy; 2014 <a class='js-ajax-link' href="/pages/about.html">{{ AUTHOR }}</a>.
            Theme <a href="https://github.com/rykka/wu">Wù</a> &trade;.
        </div>
    </div>
</footer>
