<header class="header" >
<div class="container">
    <div class="scroll top">
        <a href='#'><i class="icon-chevron-up icon-large"></i></a>
    </div>
    <div class="brand">
        <div class="flip_container">
            <div class="flipper">
                <div class="front">
                    <p><a href="{{ SITEURL }}/">{{SITENAME}}</a></p>
                </div>
                <div class="back">
                    <p><a href="{{ SITEURL }}/">{{ SITESUBTITLE if SITESUBTITLE else SITENAME }}</a></p>
                </div>			
            </div>
        </div>
    </div>

    <div class=navigation>
        <ul>
            {% for section in SECTIONS %}
            <li><a href="{{ SITEURL }}/{{ section[1]}}">{{ section[0] }}</a> </li>
            {% endfor %}
        </ul>
    </div>

</div>
<div class='separator clearfix'></div>
</header>
